# Dependencias
/node_modules
/vendor

# Laravel / entorno local
.env
.env.backup
/storage/*.key
/public/storage
/public/hot

# PHPUnit / testing
.phpunit.result.cache
.phpunit.cache/

# IDE
/.idea
/.vscode

# Logs npm/yarn
npm-debug.log
yarn-error.log

# ==========================================
# Archivos propios de mi entorno Docker
# ==========================================
Dockerfile
compose.yaml
docker-compose.yml
docker-compose.override.yml
/docker/

# Workspace personal VS Code
*.code-workspace

# ==========================================
# Archivos generados automáticamente
# ==========================================

# Vite
/public/build/

# QR generados por los bonos
/public/qr-vouchers/

# Sistema operativo
.DS_Store
Thumbs.db